{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
{% endblock %}

{% block content %}
<div class="section no-pad-bot hero-image" id="index-banner">
    <div class="container latest-drop">
        <br><br>
        <a href="{% url 'products' %}?category=new"
            class="waves-effect waves-light btn-large N/A latest-drop-button transparent">
            Shop Latest Drop
        </a>
        <br><br>
    </div>
</div>
{% endblock %}