{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="section no-pad-bot hero-image" id="index-banner"
    style="background: url('https://southville-sporting-club-ed7d11c9dd6e.s3.eu-west-2.amazonaws.com/media/hero-image.webp') no-repeat center center fixed;">
    <div class="container latest-drop">
        <br><br>
        <a href="{% url 'products' %}?category=new"
            class="waves-effect waves-light btn-large align-top latest-drop-button transparent">
            Shop Latest Drop
        </a>
        <br><br>
    </div>
</div>
{% endblock %}