{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col s12 m9 offset-m1">
                        <h2 class="center-align">About Us</h2>
                        <div class="card z-depth-0">
                            <div class="card-content">
                                <h5>What sort of running club are you?</h5>
                                <p>We are a club that caters for those who wish to run for fun and those wishing to
                                    improve and compete in races.</p>

                                <h5>Where and at what time do you meet?</h5>
                                <p>We meet every Tuesday and Thursday evening at the Southbank Club on Dean Lane, BS3
                                    1DB (<a href="#" target="_blank" title="Where is Southbank?">map</a>) from 6.00pm
                                    for a 6.15 pm
                                    start.</p>

                                <h5>What do I have to wear?</h5>
                                <p>From October onwards until Spring it is mandatory for all runners to wear items of
                                    hi-viz. The rule will be removed in spring when the clocks go forward. We will have
                                    some spare items of hi-viz clothing for new members to use during sessions.</p>

                                <h5>Is there anywhere to put my bicycle?</h5>
                                <p>There is no specific bicycle locking facility at the Southbank. We recommend you do
                                    not lock your bicycle to the railings outside due to a recent spate of thefts.</p>

                                <h5>How much is it to join?</h5>
                                <p>It's free to join, but there is a per run charge of 50p in order to cover the cost of
                                    using the facilities at the Southbank Club.</p>

                                <h5>Is there anywhere to store my gear while we are out running?</h5>
                                <p>During gathering time at The Southbank Club (6.00 - 6.15) space is available to store
                                    items, suitable for warm tops and bags, etc. It is not secure, insured or
                                    guaranteed, and we do not recommend storing items of high value like computers or
                                    expensive phones.</p>

                                <h5>Does everyone run in races?</h5>
                                <p>No, some of us just run for fun and to keep fit, but a few of us, of varying
                                    abilities, do like to enter races.</p>

                                <h5>Are there any social events?</h5>
                                <p>We're a lively club and organize various socials, and there are always a number of us
                                    having a post-run drink on a Tuesday or Thursday at the Southbank Club. Have a look
                                    at the <a href="/events" target="_self"
                                        title="Southville Running Club Events Diary">Events Diary</a> section of this
                                    website, or visit our <a href="http://www.facebook.com/groups/22333122208"
                                        target="_blank" title="Follow Southville Running Club on FaceBook">Facebook</a>
                                    page for more info on what's going on.</p>

                                <h5>Can I join your mailing list?</h5>
                                <p>Yes, subscribe to our <a href="#" target="_blank"
                                        title="Join the Southville Running Club mailing list">mailing list</a> online,
                                    and you'll receive monthly news with details of everything that is going on.</p>

                                <h5>How can I get a club Vest/T-Shirt?</h5>
                                <p>Club kit is now being sold by BW Cycling in Hotwells. Items are £20 (cash) each and
                                    available from their shop.&nbsp;<br><a href="#">TEST</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}