{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet" media="screen">
{% endblock %}

{% block extra_title %} | Shipping & Returns{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l10 offset-l1 offset-m1">
                <div class="info-content black-text">
                    <span class="info-title">SHIPPING POLICY</span>
                    <p>Last Updated: August 24th 2023</p><br>
                    <h6>DELIVERY OPTIONS</h6>
                    <ul>
                        <li>UK Mainland 1st Class (1-3 working days): £5 (Or Free If Over £100)</li>
                        <li>UK Mainland Standard (3-5 working days): £3 (Or Free If Over £80)<br></li>
                    </ul>
                    <span class="info-title">RETURNS POLICY</span>
                    <p class="">Last Updated: August 24th 2023</p><br>
                    <h6>RETURNS</h6>
                    <p>All returns must be postmarked within 21 days of the purchase date. All returned items
                        must be in new and unused condition, with all original tags and labels attached.</p><br>
                    <h6>RETURN PROCESS</h6>
                    <p>To return an item, place the item securely in its original packaging and the return form
                        provided, then mail your return to the following address:<br><br>
                        Southville Sporting Club<br>
                        Attn: Returns<br>
                        <br>
                        96 Pinchbeck Rd<br>
                        Spalding,<br>
                        Lincolnshire<br>
                        PE11 1QL<br>
                        United Kingdom<br>
                        <br>
                        You may also use the prepaid shipping label enclosed with your package. Return shipping charges
                        will be paid or reimbursed by us.
                    </p><br>
                    <h6>REFUNDS</h6>
                    <p>After receiving your return and inspecting the condition of your item, we will process
                        your return. Please allow at least 14 days from the receipt of your item to process
                        your return. We will notify you by email when your return has been processed.<br><br>
                    <h6>CONTACT US</h6>
                    <p>If you have any further questions or comments, you may contact us <a href="#">HERE</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}