{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet" media="screen">
{% endblock %}

{% block extra_title %} | Terms & Conditions{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l10 offset-l1 offset-m1">
                <div class="info-content black-text">
                    <span class="info-title">TERMS & CONDITIONS</span>
                    <p>Last updated August 25, 2023</p><br>
                    <h6>AGREEMENT TO OUR LEGAL TERMS</h6><br>
                    <p>We are Southville Sporting Club Ltd, a company registered in
                        the United Kingdom at 96 Pinchbeck Rd, Spalding, Lincolnshire PE11 1QL.<br><br>

                        We operate the website https://www.southvillesportingclub.co.uk (the 'Site'), as well as any
                        other related products and services that refer or link to these legal terms (the 'Legal Terms')
                        (collectively, the 'Services').<br><br>

                        We provide high quality UK garments that are created in the UK.<br><br>

                        You can contact us by phone at 01603 678900, email at contact@southvillesportingclub.com, or by
                        mail to 96 Pinchbeck Rd, Spalding, Lincolnshire PE11 1QL, United Kingdom.<br><br>

                        These Legal Terms constitute a legally binding agreement made between you, whether personally or
                        on behalf of an entity ('you'), and Southville Sporting Club Ltd, concerning your access to and
                        use of the Services. You agree that by accessing the Services, you have read, understood, and
                        agreed to be bound by all of these Legal Terms. IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL
                        TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST DISCONTINUE USE
                        IMMEDIATELY.<br><br>

                        We will provide you with prior notice of any scheduled changes to the Services you are using.
                        The modified Legal Terms will become effective upon posting or notifying you by
                        noreply@southvillesportingclub.com, as stated in the email message. By continuing to use the
                        Services after the effective date of any changes, you agree to be bound by the modified
                        terms.<br><br>

                        All users who are minors in the jurisdiction in which they reside (generally under the age of
                        18) must have the permission of, and be directly supervised by, their parent or guardian to use
                        the Services. If you are a minor, you must have your parent or guardian read and agree to these
                        Legal Terms prior to you using the Services.<br><br>

                        We recommend that you print a copy of these Legal Terms for your records.<br></p>
                    <h6>TABLE OF CONTENTS</h6>
                    <ol>
                        <li><a href="#section-1">OUR SERVICES</a></li>
                        <li><a href="#section-2">INTELLECTUAL PROPERTY RIGHTS</a></li>
                        <li><a href="#section-3">USER REPRESENTATIONS</a></li>
                        <li><a href="#section-4">USER REGISTRATION</a></li>
                        <li><a href="#section-5">PRODUCTS</a></li>
                        <li><a href="#section-6">PURCHASES AND PAYMENT</a></li>
                        <li><a href="#section-7">RETURN POLICY</a></li>
                        <li><a href="#section-8">GUIDELINES FOR REVIEWS</a></li>
                        <li><a href="#section-9">SERVICES MANAGEMENT</a></li>
                        <li><a href="#section-10">PRIVACY POLICY</a></li>
                        <li><a href="#section-11">TERM AND TERMINATION</a></li>
                        <li><a href="#section-12">MODIFICATIONS AND INTERRUPTIONS</a></li>
                        <li><a href="#section-13">DISPUTE RESOLUTION</a></li>
                        <li><a href="#section-14">DISCLAIMER</a></li>
                        <li><a href="#section-15">LIMITATIONS OF LIABILITY</a></li>
                        <li><a href="#section-16">CONTACT US</a></li>
                    </ol><br>

                    <h6 id="section-1">1. OUR SERVICES</h6>
                    <p>The information provided when using the Services is not intended for distribution to or use by
                        any person or entity in any jurisdiction or country where such distribution or use would be
                        contrary to law or regulation or which would subject us to any registration requirement within
                        such jurisdiction or country. Accordingly, those persons who choose to access the Services from
                        other locations do so on their own initiative and are solely responsible for compliance with
                        local laws, if and to the extent local laws are applicable.<br><br>

                        The Services are not tailored to comply with industry-specific regulations (Health Insurance
                        Portability and Accountability Act (HIPAA), Federal Information Security Management Act (FISMA),
                        etc.), so if your interactions would be subjected to such laws, you may not use the Services.
                        You may not use the Services in a way that would violate the Gramm-Leach-Bliley Act (GLBA).
                    </p><br>

                    <h6 id="section-2">2. INTELLECTUAL PROPERTY RIGHTS</h6>
                    <p>Our intellectual property<br>

                        We are the owner or the licensee of all intellectual property rights in our Services, including
                        all source code, databases, functionality, software, website designs, audio, video, text,
                        photographs, and graphics in the Services (collectively, the 'Content'), as well as the
                        trademarks, service marks, and logos contained therein (the 'Marks').<br><br>

                        Our Content and Marks are protected by copyright and trademark laws (and various other
                        intellectual property rights and unfair competition laws) and treaties in the United States and
                        around the world.<br><br>

                        The Content and Marks are provided in or through the Services 'AS IS' for your personal,
                        non-commercial use only.<br><br>

                        Your use of our Services

                        Subject to your compliance with these Legal Terms, including the 'PROHIBITED ACTIVITIES' section
                        below, we grant you a non-exclusive, non-transferable, revocable licence to: access the
                        Services; and download or print a copy of any portion of the Content to which you have properly
                        gained access. Solely for your personal, non-commercial use. <br><br>

                        Except as set out in this section or elsewhere in our Legal Terms, no part of the Services and
                        no Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted,
                        publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise
                        exploited for any commercial purpose whatsoever, without our express prior written
                        permission.<br><br>

                        If you wish to make any use of the Services, Content, or Marks other than as set out in this
                        section or elsewhere in our Legal Terms, please address your request to:
                        contact@southvillesportingclub.com. If we ever grant you the permission to post, reproduce,
                        or publicly display any part of our Services or Content, you must identify us as the owners or
                        licensors of the Services, Content, or Marks and ensure that any copyright or proprietary notice
                        appears or is visible on posting, reproducing, or displaying our Content.<br><br>

                        We reserve all rights not expressly granted to you in and to the Services, Content, and
                        Marks.<br><br>

                        Any breach of these Intellectual Property Rights will constitute a material breach of our Legal
                        Terms and your right to use our Services will terminate immediately.<br><br>
                    </p>

                    <h6 id="section-3">3. USER REPRESENTATIONS</h6>
                    <p>By using the Services, you represent and warrant that: (1) all registration information you
                        submit will be true, accurate, current, and complete; (2) you will maintain the accuracy of such
                        information and promptly update such registration information as necessary; (3) you have the
                        legal capacity and you agree to comply with these Legal Terms; (4) you are not a minor in the
                        jurisdiction in which you reside, or if a minor, you have received parental permission to use
                        the Services; (5) you will not access the Services through automated or non-human means, whether
                        through a bot, script or otherwise; (6) you will not use the Services for any illegal
                        or unauthorised purpose; and (7) your use of the Services will not violate any applicable law or
                        regulation.<br><br>

                        If you provide any information that is untrue, inaccurate, not current, or incomplete, we have
                        the right to suspend or terminate your account and refuse any and all current or future use of
                        the Services (or any portion thereof).<br><br>
                    </p>

                    <h6 id="section-4">4. USER REGISTRATION</h6>
                    <p>You may be required to register to use the Services. You agree to keep your password confidential
                        and will be responsible for all use of your account and password. We reserve the right to
                        remove, reclaim, or change a username you select if we determine, in our sole discretion, that
                        such username is inappropriate, obscene, or otherwise objectionable.<br><br>
                    </p>

                    <h6 id="section-5">5. PRODUCTS</h6>
                    <p>We make every effort to display as accurately as possible the colours, features, specifications,
                        and details of the products available on the Services. However, we do not guarantee that
                        the colours, features, specifications, and details of the products will be accurate, complete,
                        reliable, current, or free of other errors, and your electronic display may not accurately
                        reflect the actual colours and details of the products. All products are subject to
                        availability, and we cannot guarantee that items will be in stock. We reserve the right to
                        discontinue any products at any time for any reason. Prices for all products are subject to
                        change.<br><br>
                    </p>

                    <h6 id="section-6">6. PURCHASES AND PAYMENT</h6>
                    <p>We accept the following forms of payment: Visa, Mastercard, Apple Pay, Google Pay<br><br>

                        You agree to provide current, complete, and accurate purchase and account information for all
                        purchases made via the Services. You further agree to promptly update account and payment
                        information, including email address, payment method, and payment card expiration date, so that
                        we can complete your transactions and contact you as needed. Sales tax will be added to the
                        price of purchases as deemed required by us. We may change prices at any time. All payments
                        shall be in GBP.<br><br>

                        You agree to pay all charges at the prices then in effect for your purchases and any applicable
                        shipping fees, and you authorise us to charge your chosen payment provider for any such amounts
                        upon placing your order. We reserve the right to correct any errors or mistakes in pricing, even
                        if we have already requested or received payment.<br><br>

                        We reserve the right to refuse any order placed through the Services. We may, in our sole
                        discretion, limit or cancel quantities purchased per person, per household, or per order. These
                        restrictions may include orders placed by or under the same customer account, the same payment
                        method, and/or orders that use the same billing or shipping address. We reserve the right to
                        limit or prohibit orders that, in our sole judgement, appear to be placed by dealers, resellers,
                        or distributors.<br><br>
                    </p>

                    <h6 id="section-7">7. RETURN POLICY</h6>
                    <p>Please review our Return Policy posted on the Services prior to making any purchases.<br><br></p>

                    <h6 id="section-8">8. GUIDELINES FOR REVIEWS</h6>
                    <p>We may provide you areas on the Services to leave reviews or ratings. When posting a review, you
                        must comply with the following criteria: (1) you should have firsthand experience with the
                        person/entity being reviewed; (2) your reviews should not contain offensive profanity, or
                        abusive, racist, offensive, or hateful language; (3) your reviews should not contain
                        discriminatory references based on religion, race, gender, national origin, age, marital status,
                        sexual orientation, or disability; (4) your reviews should not contain references to illegal
                        activity; (5) you should not be affiliated with competitors if posting negative reviews; (6) you
                        should not make any conclusions as to the legality of conduct; (7) you may not post any false or
                        misleading statements; and (8) you may not organise a campaign encouraging others to post
                        reviews, whether positive or negative.<br><br>

                        We may accept, reject, or remove reviews in our sole discretion. We have absolutely no
                        obligation to screen reviews or to delete reviews, even if anyone considers reviews
                        objectionable or inaccurate. Reviews are not endorsed by us, and do not necessarily represent
                        our opinions or the views of any of our affiliates or partners. We do not assume liability for
                        any review or for any claims, liabilities, or losses resulting from any review. By posting a
                        review, you hereby grant to us a perpetual, non-exclusive, worldwide, royalty-free, fully paid,
                        assignable, and sub-licensable right and licence to reproduce, modify, translate, transmit by
                        any means, display, perform, and/or distribute all content relating to review.<br><br>
                    </p>

                    <h6 id="section-9">9. SERVICES MANAGEMENT</h6>
                    <p>We reserve the right, but not the obligation, to: (1) monitor the Services for violations of
                        these Legal Terms; (2) take appropriate legal action against anyone who, in our sole discretion,
                        violates the law or these Legal Terms, including without limitation, reporting such user to law
                        enforcement authorities; (3) in our sole discretion and without limitation, refuse, restrict
                        access to, limit the availability of, or disable (to the extent technologically feasible) any of
                        your Contributions or any portion thereof; (4) in our sole discretion and without limitation,
                        notice, or liability, to remove from the Services or otherwise disable all files and content
                        that are excessive in size or are in any way burdensome to our systems; and (5) otherwise manage
                        the Services in a manner designed to protect our rights and property and to facilitate the
                        proper functioning of the Services.<br><br>
                    </p>

                    <h6 id="section-10">10. PRIVACY POLICY</h6>
                    <p>We care about data privacy and security. By using the Services, you agree to be bound by our
                        Privacy Policy posted on the Services, which is incorporated into these Legal Terms. Please be
                        advised the Services are hosted in the United Kingdom. If you access the Services from any other
                        region of the world with laws or other requirements governing personal data collection, use, or
                        disclosure that differ from applicable laws in the United Kingdom, then through your continued
                        use of the Services, you are transferring your data to the United Kingdom, and you expressly
                        consent to have your data transferred to and processed in the United Kingdom.<br><br>
                    </p>

                    <h6 id="section-11">11. TERM AND TERMINATION</h6>
                    <p>These Legal Terms shall remain in full force and effect while you use the Services. WITHOUT
                        LIMITING ANY OTHER PROVISION OF THESE LEGAL TERMS, WE RESERVE THE RIGHT TO, IN OUR SOLE
                        DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SERVICES (INCLUDING
                        BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT
                        LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE LEGAL
                        TERMS OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE
                        SERVICES OR DELETE YOUR ACCOUNT AND ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME,
                        WITHOUT WARNING, IN OUR SOLE DISCRETION.<br><br>

                        If we terminate or suspend your account for any reason, you are prohibited from registering and
                        creating a new account under your name, a fake or borrowed name, or the name of any third party,
                        even if you may be acting on behalf of the third party. In addition to terminating or suspending
                        your account, we reserve the right to take appropriate legal action, including without
                        limitation pursuing civil, criminal, and injunctive redress.<br><br>
                    </p>

                    <h6 id="section-12">12. MODIFICATIONS AND INTERRUPTIONS</h6>
                    <p>We reserve the right to change, modify, or remove the contents of the Services at any time or for
                        any reason at our sole discretion without notice. However, we have no obligation to update any
                        information on our Services. We also reserve the right to modify or discontinue all or part of
                        the Services without notice at any time. We will not be liable to you or any third party for any
                        modification, price change, suspension, or discontinuance of the Services.<br><br>

                        We cannot guarantee the Services will be available at all times. We may experience hardware,
                        software, or other problems or need to perform maintenance related to the Services, resulting in
                        interruptions, delays, or errors. We reserve the right to change, revise, update, suspend,
                        discontinue, or otherwise modify the Services at any time or for any reason without notice to
                        you. You agree that we have no liability whatsoever for any loss, damage, or inconvenience
                        caused by your inability to access or use the Services during any downtime or discontinuance of
                        the Services. Nothing in these Legal Terms will be construed to obligate us to maintain and
                        support the Services or to supply any corrections, updates, or releases in connection
                        therewith.<br><br>
                    </p>

                    <h6 id="section-13">13. DISPUTE RESOLUTION</h6>
                    <p>THE SERVICES ARE PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE
                        SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL
                        WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICES AND YOUR USE THEREOF, INCLUDING,
                        WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                        AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR
                        COMPLETENESS OF THE SERVICES' CONTENT OR THE CONTENT OF ANY WEBSITES OR MOBILE APPLICATIONS
                        LINKED TO THE SERVICES AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS,
                        MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF
                        ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SERVICES, (3)
                        ANY UNAUTHORISED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION
                        AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION
                        TO OR FROM THE SERVICES, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE
                        TRANSMITTED TO OR THROUGH THE SERVICES BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN
                        ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE
                        OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES. WE DO NOT
                        WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR
                        OFFERED BY A THIRD PARTY THROUGH THE SERVICES, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE
                        APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY
                        WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF
                        PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY
                        ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGEMENT AND EXERCISE CAUTION WHERE APPROPRIATE.<br><br>
                    </p>

                    <h6 id="section-14">14. DISCLAIMER</h6>
                    <p>You may be required to register to use the Services. You agree to keep your password confidential
                        and will be responsible for all use of your account and password. We reserve the right to
                        remove, reclaim, or change a username you select if we determine, in our sole discretion, that
                        such username is inappropriate, obscene, or otherwise objectionable.<br><br>
                    </p>

                    <h6 id="section-15">15. LIMITATIONS OF LIABILITY</h6>
                    <p>IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY
                        FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES,
                        INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE
                        SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING
                        ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND
                        REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY,
                        BY YOU TO US DURING THE SIX (6) MONTH PERIOD PRIOR TO ANY CAUSE OF ACTION ARISING. CERTAIN US
                        STATE LAWS AND INTERNATIONAL LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE
                        EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE
                        DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.<br><br>
                    </p>

                    <h6 id="section-16">16. CONTACT US</h6>
                    <p>If you have any further questions or comments, you may
                        <a href="{% url 'contact' %}">CONTACT US HERE</a>.
                    </p>
                </div>
            </div>
        </div>

        {% if messages %}
        <div class="message-container"></div>
        {% endif %}

    </div>
</div>
{% endblock %}