{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'admin_dashboard/css/admin_dashboard.css' %}" type="text/css" rel="stylesheet"
    media="screen,projection">
{% endblock %}

{% block content %}
<div class="container admin-dashboard">
    <h3 class="admin-header">ADMIN DASHBOARD</h3>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Monthly Sales</span>
                    <p>Your currently monthly sales data:</p>
                    <h5>£{{ monthly_sales_figure|floatformat:2 }}</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Stock List</span>
                    <p>View and manage product stock levels.</p>
                </div>
                <div class="card-action">
                    <a class="admin-dashboard-btn" href="{% url 'stock_list' %}">Go to Stock List</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Order History</span>
                    <p>View order history and track customer orders.</p>
                </div>
                <div class="card-action">
                    <a class="admin-dashboard-btn" href="{% url 'order_list' %}">Go to Order History</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add New Product</span>
                    <p>Add a new product to your store.</p>
                </div>
                <div class="card-action">
                    <a class="admin-dashboard-btn" href="{% url 'add_product' %}">Go to Add New Product</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Manage Profile</span>
                    <p>Update your account information.</p>
                </div>
                <div class="card-action">
                    <a class="admin-dashboard-btn" href="{% url 'profile' %}">Go to Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}