{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin_dashboard/css/admin_dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container order-list">
    <h3>ALL ORDERS</h3>
    <p>View order history and track customer orders.</p>
    <div class="right-align">
        <a class="waves-effect waves-light btn-small deep-orange" href="{% url 'admin_dashboard' %}">RETURN</a>
    </div>
    <p class="order-list-hint">Select the order number to copy full code.</p>
    <table>
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Shipping Address</th>
                <th>Items</th>
                <th>Order Total</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td class="order-number" data-order-number="{{ order.order_number|escapejs }}">
                    {{ order.order_number|truncatechars:10 }}
                </td>
                <td>{{ order.date }}</td>
                <td>
                    {{ order.full_name }}<br>
                    {{ order.street_address1 }}<br>
                    {{ order.street_address2 }}<br>
                    {{ order.town_or_city }}<br>
                    {{ order.county }}<br>
                    {{ order.postcode }}<br>
                    {{ order.country }}
                </td>
                <td>
                    {% for line_item in order.lineitems.all %}
                    {{ line_item.product.name }}<br>
                    Color: {{ line_item.product.color }}<br>
                    Size: {{ line_item.product_size }}<br>
                    Quantity: {{ line_item.quantity }}<br><br>
                    {% endfor %}
                </td>
                <td>£{{ order.grand_total }}</td>
                <td class="checkbox-order-list">
                    <label>
                        <input type="checkbox" class="filled-in" value="{{ order.order_number }}" />
                        <span></span>
                    </label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block postloadjs %}
<script src="{% static 'admin_dashboard/js/admin_dashboard.js' %}"></script>
{% endblock %}