{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin_dashboard/css/admin_dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container stock-list">
    <h3>STOCK MANAGEMENT</h3>
    <div class="right-align">
        <a class="waves-effect waves-light btn-small deep-orange" href="{% url 'admin_dashboard' %}">RETURN</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>SKU</th>
                <th>Color</th>
                <th>Available Stock</th>
                <th>Product Image</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="{% if product.quantity_below_5 %}red-text{% endif %}">
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.color }}</td>
                <td>
                    {% for size, quantity in product.size_quantity.items %}
                    {{ size }}: {{ quantity }}<br>
                    {% endfor %}
                </td>
                <td>
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}no-image.webp{% endif %}"
                        alt="{{ product.name }}" class="stock-list-image">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}