/* ... Homepage ... */
.hero-image {
    background: url('/../media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    height: 73vh !important;
}

.latest-drop {
    padding-left: 55rem;
}

.latest-drop-button {
    color: white;
    background: #000000e6 !important;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
    border-radius: 0px;
}


/* Shipping & Returns */

.hero-image-info {
    background: url('/../media/hero-image-maybe.png') no-repeat center center fixed;
}

.row .col.card {
    background-color: #ffffff;
}

.card .card-content {
    max-height: 69vh;
    overflow-y: auto;
}

@media (max-width: 600px) {
    .latest-drop {
        padding: 2rem;
        padding-left: 10rem !important;
    }
}

@media (max-width: 1144px) {
    .latest-drop {
        padding-left: 40rem;
    }
}

@media (max-width: 900px) {
    .latest-drop {
        padding-left: 26rem;
    }
}