/* ... Homepage ... */
.hero-image {
    background: url('/../media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    height: 75vh !important;
}

.latest-drop {
    padding: 5rem;
    padding-left: 12rem;
}

.transparent {
    border: 2px solid white;
    color: white;
}

/* Shipping & Returns */

.hero-image-info {
    background: url('/../media/hero-image-maybe.png') no-repeat center center fixed;
}

.row .col.card {
    background-color: #ffffffdb;
}

.card .card-content {
    max-height: 69vh;
    overflow-y: auto;
}

@media (max-width: 600px) {
    .waves-effect {
        background: #00000082 !important;
    }
}