/* Shipping & Returns */

.hero-image {
    background: url('/../media/hero-image-maybe.png') no-repeat center center fixed;
}

.row .col.card {
    background-color: #ffffffdb;
}

.card .card-content {
    max-height: 69vh;
    overflow-y: auto;
}