{% extends "base.html" %}
{% load static %}
{% load subtotal_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container profile">
    <div class="row">
        <div class="col s12">
            <h3 class="">MY PROFILE</h3>
        </div>
    </div>
    <div class="row">
        <div class="col l6 s12">
            <p class="">Default Delivery Information</p>
            <form class="" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form }}
                <button class="waves-effect waves-light grey darken-3 btn profile">Update Information</button>
            </form>
        </div>
        <div class="col l6 s12">
            <p class="text-muted">Order History</p>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}