{% extends "base.html" %}
{% load static %}
{% load subtotal_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="">MY PROFILE</h3>
        </div>
    </div>
    {{ profile }}
</div>
{% endblock %}