{% extends "base.html" %}
{% load static %}
{% load subtotal_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="logo-font mb-4">CHECKOUT</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="{% url 'create-checkout-session' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <legend class="fieldset-label text-black px-2 w-auto">BILLING INFORMATION</legend>
                <fieldset class="px-3 mb-5">
                    <div class="input-field checkout">
                        {{ order_form.full_name }}
                        <label for="{{ order_form.full_name.id_for_label }}">Full Name</label>
                    </div>
                    <div class="input-field checkout">
                        {{ order_form.email }}
                        <label for="{{ order_form.email.id_for_label }}">Email</label>
                    </div>
                    <div class="input-field checkout">
                        {{ order_form.phone_number }}
                        <label for="{{ order_form.phone_number.id_for_label }}">Phone Number</label>
                    </div>
                    <div class="input-field checkout">
                        {{ order_form.street_address1 }}
                        <label for="{{ order_form.street_address1.id_for_label }}">Street Address 1</label>
                    </div>
                    <div class="input-field checkout">
                        {{ order_form.street_address2 }}
                        <label for="{{ order_form.street_address2.id_for_label }}">Street Address 2</label>
                    </div>
                    <div class="input-field checkout">
                        {{ order_form.town_or_city }}
                        <label for="{{ order_form.town_or_city.id_for_label }}">Town or City</label>
                    </div>
                    <div class="input-field checkout">
                        {{ order_form.postcode }}
                        <label for="{{ order_form.postcode.id_for_label }}">Postcode</label>
                    </div>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" id="id-save-info" name="save-info"
                                checked="checked" />
                            <span>Save this delivery information to my profile</span>
                        </label>
                    </p>
                    <div class="input-field checkout" id="delivery-type">
                        <p>Choose Delivery Type:</p>
                        <p>
                            <label>
                                <input name="delivery_type" type="radio" value="standard" checked />
                                <span>Standard Delivery (£{{ delivery_cost|floatformat:2 }})</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="delivery_type" type="radio" value="first_class" />
                                <span>1st Class Delivery (£{{ first_class_delivery_cost|floatformat:2 }})</span>
                            </label>
                        </p>
                    </div>
                    <input type="hidden" name="delivery_cost" id="delivery-cost" value="4.99">
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">
                    <div class="button-container">
                        <a href="{% url 'products' %}" class="waves-effect waves-light grey darken-3 btn">
                            <i class="material-icons left">arrow_back</i>
                            <span class="font-weight-bold">Keep Shopping</span>
                        </a>
                    </div>
                    <div class="button-container complete">
                        <!-- A Stripe button will go here -->
                        <button type="submit" id="submit-button"
                            class="waves-effect waves-light grey darken-3 btn btn-black">
                            <span class="font-weight-bold">Continue to Payment</span>
                            <i class="material-icons right">lock</i>
                        </button>
                    </div>
                </div>
                <p class="small black-text my-0">
                    <span>Your card will be charged £{{ grand_total|floatformat:2 }}</span>
                </p>
            </form>
        </div>
        <div class="col s12 m12 l6">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <ul class="collection">
                {% for item in bag_items %}
                <li class="collection-item">
                    <div class="item-content">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"
                            class="responsive-img checkout">
                        <div class="item-details">
                            <span class="title">{{ item.product.name }}</span>
                            <p>Size: {{ item.size|default:"N/A"|upper }}</p>
                            <p>Qty: {{ item.quantity }}</p>
                            <span class="secondary-content">
                                £{{ item.product.price | calc_subtotal:item.quantity }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <hr class="my-0">
            <ul class="collection">
                <li class="collection-item total">
                    <span class="text-black">Order Total:</span>
                    <span class="secondary-content">
                        {% if total == 0 %}
                        00.00
                        {% else %}
                        {{ total | floatformat:2 }}
                        {% endif %}
                        GBP
                    </span>
                </li>
                <li class="collection-item total">
                    <span class="text-black">Delivery</span>
                    <span class="secondary-content">
                        {% if delivery_cost is null or delivery == 0 %}
                        00.00
                        {% else %}
                        {{ delivery_cost | floatformat:2 }}
                        {% endif %}
                        GBP
                    </span>
                </li>
                <li class="collection-item total">
                    <span class="text-black">Grand Total</span>
                    <span class="secondary-content">
                        {% if grand_total == 0 %}
                        00.00
                        {% else %}
                        {{ grand_total | floatformat:2 }}
                        {% endif %}
                        GBP
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}