{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"
        integrity="sha384-fj9YEHKNa/e0CNquG4NcocjoyMATYo1k2Ff5wGB42C/9AwOlJjDoySPtNJalccfI"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    {% endblock%}

    {% block extra_js %}
    {% endblock %}

    <title>Southville Sporting Club {% block extra_title %}{% endblock %}</title>

</head>

<body>
    <a href="" class="wrapper">
        <div class="marquee">
            <span>SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER
                2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING
                SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER
                2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING
                SUMMER 2023&nbsp;&nbsp;&nbsp;<span>
        </div>
    </a>
    <nav class="white" role="navigation">
        <ul class="left hide-on-med-and-down">
            <li>
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                        <i class="material-icons black-text">close</i>
                    </div>
                </form>

            </li>
        </ul>
        <div class="nav-wrapper">
            <a id="logo-container" href="#" class="brand-logo center black-text"
                style="font-family: 'Times New Roman', Times, serif;">SOUTHVILLE SPORTING CLUB</a>
            <ul class="right">
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" class="black-text">ABOUT US</a></li>
                    <li><a href="#" class="black-text">THE RUNNING CLUB</a></li>
                    <li><a href="#" class="black-text">SHOP NOW</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#" class="black-text">ABOUT US</a></li>
                    <li><a href="#" class="black-text">THE RUNNING CLUB</a></li>
                    <li><a href="#" class="black-text">SHOP NOW</a></li>
                </ul>

                <a href="#" data-target="nav-mobile" class="sidenav-trigger black-text"><i
                        class="material-icons">menu</i></a>

            </ul>
        </div>
    </nav>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                        it's our full time job. Any amount would help support and continue development on this project
                        and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

</body>

</html>