/* Products Page */

.img-container {
    position: relative;
    width: 100%;
    height: 350px;
}

.img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container img.zoom-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.2s;
}

.img-container:hover img.zoom-image {
    transform: scale(1.09);
}

.card-title {
    padding: 8px 2px 0px 8px;
    text-align: left;
}

.color-title {
    padding: 0px 2px 8px 8px;
    text-align: left;
}

.card .card-content {
    padding: 0px;
}

.card .card-title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.card .card-content .card-title {
    margin-bottom: 0px;
}

.card .color-title {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: #525050d4;
}

.card.no-shadow {
    box-shadow: none;
    border: 0;
}

.card .card-action {
    padding: 10px 10px;
}

.center-align {
    text-align: center;
    float: none !important;
}

.card-title-new {
    font-size: 1rem;
    font-weight: 400;
}

.custom-dropdown {
    width: 300px;
    /* Adjust the width to your preference */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowed text */
}

/* Products Details */

.product-detail {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
}

.product-name {
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 10px 10px;
}

.product-color {
    display: block;
    text-transform: uppercase;
    padding-bottom: 2rem;
    padding: 2px 10px 10px 10px;
}

.product-price {
    display: block;
    font-weight: 600;
    padding: 10px 10px;
}

.icon {
    float: right;
    font-weight: bold;
    transition: transform 0.3s;
}

.expanded {
    transform: rotate(45deg);
}

.collapsible-header {
    justify-content: space-between;
}

/* Media Queries */

@media (max-width: 600px) {
    .product-detail {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-detail {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Nothing Found */

.nothing-found {
    height: 68vh;
    padding: 20px;
    text-align: center;
}

.nothing-found p {
    text-align: left;
    margin-top: 20px;
}