/* Order List */

.container.order-list {
    width: 90%;
}

.order-number {
    white-space: normal;
    height: 2em;
}

.checkbox-order-list {
    text-align: center;
}

/* Stock List */

.stock-list-image {
    width: 10rem;
}