<!-- Modal Structure -->
<div class="cart-overlay" id="cart-overlay">
    <div class="modal-content">
        <div class="row cart">
            <div class="col s9 offset-s2 center-align black-text">
                <h5>CART</h5>
            </div>
            <div class="col s2 right-align">
                <button class="modal-close cart-btn btn" id="close-cart-btn">
                    <span class="material-icons black-text">close</span>
                </button>
            </div>
        </div>
        <div class="row cart">
            <div class="col s12">
                {% if bag_items %}
                <div class=""></div>
                {% else %}
                <div class="empty-cart-message black-text center-align">
                    <h6>Your cart is currently empty.</h6>
                    <a href="{% url 'products' %}?category=new" class="center-align black-text">View Latest Drop</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="close-cart-overlay">
    <button class="modal-close btn close-cart"></button>
</div>