<div class="cart-overlay" id="cart-overlay">
    <div class="modal-content">
        <div class="row cart">
            <div class="col s9 offset-s2 center-align black-text">
                <h5>CART</h5>
            </div>
            <div class="col s2 right-align">
                <button class="modal-close cart-btn btn" id="close-cart-btn">
                    <span class="material-icons black-text">close</span>
                </button>
            </div>
        </div>
        <div class="row cart">
            <div class="col s12">
                {% if bag_items %}
                {% for item in bag_items %}
                <div class="cart-item black-text">
                    <div class="product-image">
                        <img src="{{ item.image_url }}" alt="{{ item.product.name }}">
                    </div>
                    <div class="product-info">
                        <p class="product-name">{{ item.product.name }}</p>
                        <p class="product-size">Size: {{ item.size }}</p>
                        <p class="product-quantity">Quantity: {{ item.quantity }}</p>
                        <p class="product-price">{{ item.product.price }} GBP</p>
                        <button class="remove-button" data-item-id="{{ item.item_id }}">Remove</button>
                    </div>
                </div>
                {% endfor %}
                <div class="total-item">
                    <div class="bag-total">
                        <p class="cart-summary-title">
                            <span>Subtotal</span>
                            <span>{{ total }} GBP</span>
                        </p>
                        <p class="cart-summary-title">
                            <span>Shipping</span>
                            <span>{{ delivery_cost }} GBP</span>
                        </p>
                        <p class="cart-summary-title">
                            <span>Total</span>
                            <span>{{ grand_total }} GBP</span>
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="empty-cart-message black-text center-align">
                    <h6>Your cart is currently empty.</h6>
                    <a href="{% url 'products' %}?category=new" class="center-align black-text">View Latest Drop</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="close-cart-overlay">
    <button class="modal-close btn close-cart"></button>
</div>