<a id="logo-container" href="{% url 'home' %}" class="brand-logo center black-text">SOUTHVILLE SPORTING CLUB</a>

<ul class="right hide-on-med-and-down">
    <li>
        <a class="dropdown-trigger black-text" href="#!" data-target="dropdown-info">INFO</a>
    </li>
    <ul id='dropdown-info' class='dropdown-content'>
        <li><a href="#!">ABOUT US</a></li>
        <li><a href="#!">CONTACT</a></li>
        <li><a href="{% url 'shipping' %}">SHIPPING & RETURNS</a></li>
    </ul>
    <li><a href="#" class="black-text">RUNNING CLUB</a></li>
    <li>
        <a class="dropdown-trigger black-text" href="{% url 'products' %}" data-target="dropdown-shop">SHOP</a>
    </li>
    <ul id='dropdown-shop' class='dropdown-content'>
        <li><a href="{% url 'products' %}?category=new">NEW</a></li>
        <li><a href="{% url 'products' %}?category=t_shirts">T-SHIRTS</a></li>
        <li><a href="{% url 'products' %}?category=hoodies">HOODIES</a></li>
        <li><a href="{% url 'products' %}?category=sweatpants">SWEATPANTS</a></li>
        <li><a href="{% url 'products' %}?category=tracksuits">TRACKSUITS</a></li>
        <li><a href="{% url 'products' %}">ALL PRODUCTS</a></li>
    </ul>
</ul>