<a id="logo-container" href="{% url 'home' %}" class="brand-logo center black-text">SOUTHVILLE SPORTING CLUB</a>

<ul class="right hide-on-med-and-down">
    <li>
        <a class="dropdown-trigger black-text" href="{% url 'about' %}" data-target="dropdown-info">INFO</a>
    </li>
    <li>
        <ul id='dropdown-info' class='dropdown-content'>
            <li><a href="{% url 'about' %}">ABOUT US</a></li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
            <li><a href="{% url 'shipping' %}">SHIPPING & RETURNS</a></li>
        </ul>
    </li>
    <li><a href="{% url 'sustainability' %}" class="black-text">OUR MISSION</a></li>
    <li>
        <a class="dropdown-trigger black-text" href="{% url 'products' %}" data-target="dropdown-shop">SHOP</a>
    </li>
    <li>
        <ul id='dropdown-shop' class='dropdown-content'>
            <li><a href="{% url 'products' %}?category=new">NEW</a></li>
            <li><a href="{% url 'products' %}?category=t_shirts">T-SHIRTS</a></li>
            <li><a href="{% url 'products' %}?category=hoodies">HOODIES</a></li>
            <li><a href="{% url 'products' %}?category=sweatpants">SWEATPANTS</a></li>
            <li><a href="{% url 'products' %}?category=tracksuits">TRACKSUITS</a></li>
            <li><a href="{% url 'products' %}">ALL PRODUCTS</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-trigger icons profile-trigger" data-target="dropdown-profiles">
            <i class="material-icons" style="color: #000000;">person</i>
        </a>
    </li>
    <li>
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <ul id='dropdown-profiles' class='dropdown-content'>
            <li><a href="{% url 'admin_dashboard' %}">ADMIN DASHBOARD</a></li>
            <li><a href="{% url 'profile' %}">MY PROFILE</a></li>
            <li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
        </ul>
        {% endif %}
        <ul id='dropdown-profiles' class='dropdown-content'>
            <li><a href="{% url 'profile' %}">MY PROFILE</a></li>
            <li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
        </ul>
        {% else %}
        <ul id='dropdown-profiles' class='dropdown-content'>
            <li><a href="{% url 'account_signup' %}">REGISTER</a></li>
            <li><a href="{% url 'account_login' %}">LOGIN</a></li>
        </ul>
        {% endif %}
    </li>
</ul>