<a href="{% url 'home' %}"><img class="mobile-logo"
        src="https://southville-sporting-club-ed7d11c9dd6e.s3.eu-west-2.amazonaws.com/media/mobile-logo.png"
        alt="Mobile Logo" id="home-logo"></a>
<ul id="slide-out" class="sidenav">
    <li><a class="sidenav-close" href="#!"><i class="material-icons close-btn">close</i></a></li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">INFO<i class="material-icons info">arrow_drop_down</i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'about' %}">ABOUT US</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    <li><a href="{% url 'shipping' %}">SHIPPING & RETURNS</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <li><a href="{% url 'sustainability' %}" class="black-text sidenav-running">OUR MISSION</a></li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">SHOP<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'products' %}?category=new">NEW</a></li>
                    <li><a href="{% url 'products' %}?category=t_shirts">T-SHIRTS</a></li>
                    <li><a href="{% url 'products' %}?category=hoodies">HOODIES</a></li>
                    <li><a href="{% url 'products' %}?category=sweatpants">SWEATPANTS</a></li>
                    <li><a href="{% url 'products' %}?category=tracksuits">TRACKSUITS</a></li>
                    <li><a href="{% url 'products' %}">ALL PRODUCTS</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="text-right">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <div class="button-container-sidenav">
            <a href="{% url 'admin_dashboard' %}" class="waves-effect waves-light grey darken-3 btn full-width-btn">
                ADMIN DASHBOARD
            </a>
        </div>
        {% endif %}
        <div class="button-container-sidenav">
            <a href="{% url 'profile' %}" class="waves-effect waves-light grey darken-3 btn full-width-btn">
                <span class="font-weight-bold">MY PROFILE</span>
            </a>
        </div>
        <div class="button-container-sidenav">
            <a href="{% url 'account_logout' %}" class="waves-effect waves-light grey darken-3 btn full-width-btn">
                <span class="font-weight-bold">LOGOUT</span>
            </a>
        </div>
        {% else %}
        <div class="button-container-sidenav">
            <a href="{% url 'account_signup' %}" class="waves-effect waves-light grey darken-3 btn full-width-btn">
                <span class="font-weight-bold">REGISTER</span>
            </a>
        </div>
        <div class="button-container-sidenav">
            <a href="{% url 'account_login' %}" class="waves-effect waves-light grey darken-3 btn full-width-btn">
                <span class="font-weight-bold">LOGIN</span>
            </a>
        </div>
        {% endif %}
    </div>
</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>