<a href="{% url 'home' %}"><img class="mobile-logo" src="../../media/mobile-logo.png" alt="Mobile Logo"></a>
<ul id="slide-out" class="sidenav">
    <li><a class="sidenav-close" href="#!"><i class="material-icons">close</i></a></li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">INFO<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="#!">ABOUT US</a></li>
                    <li><a href="#!">CONTACT</a></li>
                    <li><a href="{% url 'shipping' %}">SHIPPING & RETURNS</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <li><a href="#" class="black-text">RUNNING CLUB</a></li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">SHOP<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'products' %}?category=new">NEW</a></li>
                    <li><a href="{% url 'products' %}?category=t_shirts">T-SHIRTS</a></li>
                    <li><a href="{% url 'products' %}?category=hoodies">HOODIES</a></li>
                    <li><a href="{% url 'products' %}?category=sweatpants">SWEATPANTS</a></li>
                    <li><a href="{% url 'products' %}?category=tracksuits">TRACKSUITS</a></li>
                    <li><a href="{% url 'products' %}">ALL PRODUCTS</a></li>
                </ul>
            </div>
        </li>
    </ul>
</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>