{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="section no-pad-bot hero-image-about" id="index-banner"
    style="background: url('https://southville-sporting-club-ed7d11c9dd6e.s3.eu-west-2.amazonaws.com/media/hero-image-maybe.webp') no-repeat center center fixed;">
    <div class="container error-height">
        <div class="container error-page">
            <br><br>
            <h2 class="error-title">404 - Page Not Found</h2>
            <p>The page you are looking for does not exist.</p>
            <a href="{% url 'home' %}"
                class="waves-effect waves-light btn-large align-top latest-drop-button transparent">
                Return Home
            </a>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}