{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen">
    <link href="{% static 'bag/css/bag.css' %}" type="text/css" rel="stylesheet" media="screen">
    <link rel="icon" href="data:,">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f0f8e6b416.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock%}

    {% block extra_js %}
    {% endblock %}

    <title>Southville Sporting Club {% block extra_title %}{% endblock %}</title>

</head>

<body>
    <header class="container-fluid">
        <a href="{% url 'products' %}?category=new" class="wrapper">
            <div class="marquee">
                <span>SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER
                    2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING
                    SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER
                    2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING SUMMER 2023&nbsp;&nbsp;&nbsp;SPRING
                    SUMMER 2023&nbsp;&nbsp;&nbsp;
                </span>
            </div>
        </a>
        <nav class="white">
            <div class="nav-wrapper">
                <li class="left search">
                    <ul class="left search">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-field">
                                <input id="search" type="search" name="q" required>
                                <label class="label-icon" for="search">
                                    <a href="#" id="search-icon">
                                        <i class="material-icons black-text">search</i>
                                    </a>
                                </label>
                                <i class="material-icons black-text close-icon">close</i>
                            </div>
                        </form>
                    </ul>
                </li>
                <ul class="right">
                    <li><a href="#" class="black-text icons" id="bag-icon"><i class="material-icons"
                                style="color: #000000;">shopping_bag</i></a></li>
                </ul>
                {% include 'includes/mobile_nav.html' %}
                {% include 'includes/main_nav.html' %}
                {% include 'bag/includes/bag_overlay.html' %}
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="page-footer white">
        <div class="container">
            <div class="row">
                <div class="col l1 m2 s2">
                    <img class="footer-logo" src="{{ MEDIA_URL }}mobile-logo.png" alt="Mobile Logo">
                </div>
                <div class="col l5 m5 s12">
                    <ul class="inline-list footer-links">
                        <li><a class="footer-links" href="{% url 'terms' %}">Terms & Conditions</a></li>
                        <li><a class="footer-links" href="{% url 'shipping' %}">Shipping & Returns</a></li>
                        <li><a class="footer-links" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col l6 m5 s12">
                    <p class="footer-info">
                        <i class="fa-brands fa-cc-visa" style="color: #525252;"></i>
                        <i class="fa-brands fa-cc-mastercard" style="color: #525252;"></i>
                        <i class="fa-brands fa-google-pay" style="color: #525252;"></i>
                        <i class="fa-brands fa-apple-pay" style="color: #525252;"></i><br>
                        Copyright © NCBC Limited 2023 | All Rights Reserved <br>
                        Company registration number: 019884950 | VAT number: GB 916577890
                    </p>
                </div>
            </div>
        </div>
        <!-- Back to Top Button using Materialize CSS -->
        <div id="back-to-top-container">
            <a id="back-to-top" class="btn-floating btn-large waves-effect">
                <i class="material-icons">keyboard_arrow_up</i>
            </a>
        </div>
    </footer>

    {% if messages %}
    <div class="message-container toast" id="toast-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% if form.errors %}
    <div class="message-container toast" id="toast-container">
        {% for field in form %}
        {% for error in field.errors %}
        {% include 'includes/toasts/toast_error.html' with message=error %}
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        {% include 'includes/toasts/toast_error.html' with message=error %}
        {% endfor %}
    </div>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'bag/js/bag.js' %}"></script>

    {% block postloadjs %}
    {% endblock %}
</body>

</html>