<div class="cart-overlay" id="cart-overlay">
    <div class="modal-content">
        <div class="row cart">
            <div class="col s9 offset-s2 center-align black-text">
                <h5>CART</h5>
            </div>
            <div class="col s2 right-align">
                <button class="modal-close cart-btn btn" id="close-cart-btn">
                    <span class="material-icons black-text">close</span>
                </button>
            </div>
        </div>
        <div class="row cart">
            <div class="col s12">
                {% if bag_items %}
                {% for item in bag_items %}
                <div class="cart-item black-text">
                    <div class="product-image">
                        <img src="{{ item.image_url }}" alt="{{ item.product.name }}">
                    </div>
                    <div class="product-info-cart">
                        <p class="product-name-cart">{{ item.product.name }}</p>
                        <p class="product-size-cart">Size: {{ item.size }}</p>
                        <p class="product-quantity-cart">Quantity: {{ item.quantity }}</p>
                        <p class="product-price-cart">{{ item.product.price }} GBP</p>
                        <a class="remove-item" id="remove_{{ item.item_id }}"
                            data-product_size="{{ item.size }}">Remove</a>
                    </div>
                </div>
                {% endfor %}
                <div class="total-item black-text">
                    <div class="bag-total">
                        <p class="cart-subtotal">
                            <span>Subtotal</span>
                            <span>{{ total }} GBP</span>
                        </p>
                        <p class="cart-shipping">
                            <span>Shipping</span>
                            <span>{{ delivery_cost }} GBP</span>
                        </p>
                        <p class="cart-total">
                            <span>Total</span>
                            <span>{{ grand_total }} GBP</span>
                        </p>
                    </div>
                </div>
                <a href="{% url 'checkout' %}" class="waves-effect waves-light btn black rounded-0 right-align">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <i class="material-icons lock right">lock</i>
                </a>                
                {% else %}
                <div class="empty-cart-message black-text center-align">
                    <h6>Your cart is currently empty.</h6>
                    <a href="{% url 'products' %}?category=latest-drop" class="center-align black-text">View Latest
                        Drop</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="close-cart-overlay">
    <button class="modal-close btn close-cart"></button>
</div>

{% block postloadjs %}
{% endblock %}