/* Bag */
.collection {
    border: 0;
}

.collection .collection-item {
    height: 17rem;
}

.title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: bold;
}

.item-details {
    padding-left: 1rem;
    display: grid;
    text-align: right;
}

/* Form */

.secondary-content {
    color: #000000;
    font-weight: 600;
}

li.collection-item.total {
    height: 2.5rem;
    margin: 0px;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

div.input-field.checkout {
    position: sticky;
}

select {
    display: flex;
    border: none;
}

.input-field select {
    z-index: 2;
}

select#id_country {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.input-field.checkout input[type=text]:focus+label {
    color: #267d13;
}

.input-field.checkout input[type=text]:focus {
    border-bottom: 1px solid #267d13;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #267d13;
    box-shadow: 0 1px 0 0 #000;
}

img.responsive-img.checkout {
    width: 15rem;
    height: 15rem;
}


/* Submit buttons */

.button-container,
p.small.black-text.my-0 {
    display: flex;
    margin: 1rem 0 1rem 0;
}

.btn,
.btn-large,
.btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
    font-size: 11px;
}

div.button-container.complete,
p.small.black-text.my-0 {
    justify-content: right;
}

.submit-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

fieldset.px-3 {
    border: none;
}

#payment-form>legend,
body>div.container>div:nth-child(2)>div:nth-child(1)>p {
    padding: 0.35em 0.75em 0.625em;
}

/* Checkout cancel */

div.container.checkout-cancel {
    height: 73vh !important;
    padding: 10px;
}

@media (max-width: 600px) {
    img.responsive-img.checkout {
        width: 10rem;
        height: 10rem;
    }

    div.container.checkout-cancel {
        height: 65vh !important;
        padding: 20px;
    }
}