img.responsive-img,
video.responsive-video {
    position: absolute;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.collection {
    border: 0;
}

.collection .collection-item {
    height: 17rem;
}

.title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: bold;
}

.item-details {
    padding-left: 1rem;
    display: grid;
    text-align: right;
}

.secondary-content {
    color: #000000;
    font-weight: 600;
}

li.collection-item.total {
    height: 2.5rem;
    margin: 0px;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

div.input-field.checkout {
    position: sticky;
}