/* Custom Stylesheet */
/* Top Banner */

.marquee {
  display: flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  padding: 5px;
  background-color: black;
  color: white;
  font-weight: lighter;
  font-size: 20px;
}

.marquee>* {
  -webkit-animation: marquee 30s linear infinite both alternate;
  animation: marquee 30s linear infinite both alternate;
}

@-webkit-keyframes marquee {
  to {
    transform: translateX(calc(50vw - 50%));
  }
}

@keyframes marquee {
  to {
    transform: translateX(calc(50vw - 50%));
  }
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 70px;
  line-height: 69px;
}

.section.no-pad-bot {
  padding: 6rem;
  padding-bottom: 6rem;
}

/* Navbar */

nav ul a {
  margin-right: 15px;
  padding: 0;
}

.mobile-logo {
  display: none;
}

.brand-logo {
  font-family: 'Times New Roman', Times, serif;
}

.navbar-dropdown {
  margin-right: 10px;
}

.dropdown-content li>a,
.dropdown-content li>span {
  font-size: 15px;
  display: block;
  padding: 8px 10px;
  color: #000000;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

pre {
  font-family: Helvetica, sans-serif, monospace;
}

code,
kbd,
samp {
  font-family: Helvetica, sans-serif, monospace;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Helvetica, sans-serif, monospace;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Helvetica, sans-serif;
}

html {
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.search {
  padding-left: 20px !important;
}

/* Footer */

.container {
  width: 100%;
}

.footer-logo {
  display: inline-block;
  height: 5rem;
  /* Adjust the max height as needed */
}

.fa-brands {
  font-size: 25px;
  margin-right: 5px;
}

.row {
  margin-bottom: 0px;
}

.page-footer {
  padding-top: 5px;
}

.inline-list {
  display: flex;
}

.footer-info {
  color: grey;
  font-size: 0.75rem;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}

.footer-links {
  margin-right: 10px;
  padding-top: 10px;
  color: #525050;
}

.footer-links:hover {
  color: #000000;
}

/* ... Homepage ... */
.hero-image {
  background: url('../../media/hero-image.png') no-repeat center center fixed;
  background-size: cover;
}

.section.no-pad-bot {
  padding: 2rem;
  height: 35rem;
}

.transparent {
  border: 2px solid white;
  color: white;
}

/* Media Queries */
/* Navbar */
@media (max-width: 860px) {
  .brand-logo.center {
    display: none;
    padding: 0 10px;
  }

  .mobile-logo {
    display: inline-block;
    /* Show the mobile logo on mobile */
    max-height: 100%;
    /* Adjust the max height as needed */
  }
}

/* Homepage */
@media (max-width: 768px) {
  .background-images {
    grid-template-columns: 1fr;
  }
}

/* Footer */