{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'home/css/home.css' %}" type="text/css" rel="stylesheet" media="screen">
{% endblock %}

{% block extra_title %} | Contact Us {% endblock %}

{% block content %}
<div class="section" id="contact-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l10 offset-l1 offset-m1">
                <h2 class="contact-title">Contact Us</h2>
                <div class="container form-container">
                    <form id="contactForm" method="post">
                        {% csrf_token %}
                        <div class="input-field contact">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>

                        <div class="input-field contact">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>

                        <div class="input-field contact">
                            {{ form.subject.label_tag }}
                            {{ form.subject }}
                        </div>

                        <div class="contact">
                            {{ form.message.label_tag }}
                            {{ form.message }}
                        </div>

                        <button class="waves-effect waves-light btn black rounded-0 right-align" type="submit"
                            name="action">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" id="contact-banner-1">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="container contact-container">
                    <h5>Opening Hours</h5>
                    <p>Mon-Sat 9AM - 5PM</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="container contact-container">
                    <h5>Email</h5>
                    <p>Contact Us:
                        <a href="mailto:contact@southvillesportingclub.com"
                            class="email-link">contact@southvillesportingclub.com</a>
                    </p>
                    <p>Press: <a href="mailto:press@southvillesportingclub.com"
                            class="email-link">press@southvillesportingclub.com</a></p>

                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="container contact-container">
                    <h5>Head Office</h5>
                    <p>Southville Sporting Club<br>
                        96 Pinchbeck Rd<br>
                        Spalding,<br>
                        Lincolnshire<br>
                        PE11 1QL<br>
                        United Kingdom<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}