/* Bag */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-cart {
    width: 70%;
    position: fixed;
    height: 100%;
    background-color: transparent;
    z-index: 1001;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: auto !important;
}

#close-cart-overlay {
    display: none;
}

.modal-content {
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    flex-grow: 1;
}

.modal-footer {
    padding: 10px;
    text-align: center;
}

.cart-btn {
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cart-btn:hover {
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.close-cart:hover,
.close-cart:focus,
.close-cart:active {
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: auto !important;
}

.cart {
    display: flex;
}

.cart-subtotal,
.cart-shipping,
.cart-total {
    margin: 0px;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.35;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.bag-total {
    min-height: calc(100vh - 640px);
    padding-top: 10px;
}

.cart-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0 1rem 0;
}

.product-image img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.product-image {
    width: 30%;
    justify-content: left;
    display: flex;
}

.product-name-cart {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    line-height: 18px;
    text-align: right;
}

.product-info-cart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1px;
    width: 70%;
}

.product-size-cart,
.product-quantity-cart {
    font-size: 0.9rem;
}

.product-size-cart,
.product-quantity-cart,
.product-price-cart {
    margin: 10px 0;
}

.remove-item {
    background: none;
    border: none;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
    color: black;
}

i.material-icons.lock.right {
    margin-top: -16px;
    font-size: 1.5rem;
}

/* Media Queries */

/* Navbar */
@media (max-width: 1144px) {
    .cart-overlay {
        width: 50% !important;
    }

    .close-cart {
        width: 50% !important;
        left: 0;
        top: 0;
    }

    .bag-total {
        min-height: min-content !important;
    }
}

@media (max-width: 600px) {
    .cart-overlay {
        width: 90% !important;

    }

    .close-cart {
        width: 10% !important;
        left: 0;
        top: 0;
    }

    .bag-total {
        min-height: min-content !important;
    }
}