{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'products/css/products.css' %}" type="text/css" rel="stylesheet" media="screen">
{% endblock %}

{% block extra_js %}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}

{% block extra_title %} | Nothing Found{% endblock %}

{% block content %}
<main class="section no-pad-bot nothing-found" id="index-banner">
    <div class="container">
        <div class="row center-align">
            <div class="col center-align">
                {% if selected_category == 'new' %}
                <span class="card-title-new">RUN WITH NATURE</span>
                <p class="new-info">INSPIRED BY NATURE AND RUNNING OUTDOORS, HEAVYWEIGHT AND LONG LASTING FABRICS MADE
                    FOR LONGEVITY AND DISTANCE.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="section no-pad-bot hero-image" id="index-banner-1">
        <div class="container nothing-found">
            <h5 class="center-align">0 Products</h5>
            <hr class="custom-line">
            <p>No products match your search criteria.</p>
        </div>
    </div>
</main>
{% endblock %}