{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'products/css/products.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block content %}
<main>
    <section class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row center-align">
                <div class="col center-align">
                    {% if selected_category == 'new' %}
                    <!-- Display information for new products -->
                    <h5 class="card-title-new">RUN WITH NATURE</h5>
                    <p class="new-info">INSPIRED BY NATURE AND RUNNING OUTDOORS, HEAVYWEIGHT AND LONG LASTING FABRICS
                        MADE
                        FOR LONGEVITY AND DISTANCE.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col l6 all-products-main">
                    <!-- Display total product count if search, categories, or sorting applied -->
                    {% if search_term or categories or current_sorting != 'None_None' %}
                    <span class="small"><a class="all-products" href="{% url 'products' %}">All Products</a> |
                        Total: {{ products|length }}</span>
                    {% endif %}
                </div>
                <div class="col l6 right-align sort-dropdown">
                    <ul>
                        <li class="sort-dropdown-trigger black-text" data-target="dropdown-filter">SORT
                            <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                        </li>
                        <li>
                            <ul id="dropdown-filter" class="dropdown-content">
                                <!-- Sorting options for product list -->
                                <li>
                                    <!-- Sort products high to low -->
                                    <a
                                        href="?sort=price&direction=desc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">
                                        Price, High to Low
                                    </a>
                                </li>
                                <li>
                                    <!-- Sort products low to high -->
                                    <a
                                        href="?sort=price&direction=asc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">
                                        Price, Low to High
                                    </a>
                                </li>
                                <li>
                                    <!-- Sort products alpabetically A-Z -->
                                    <a
                                        href="?sort=name&direction=asc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">
                                        Alphabetically, A-Z
                                    </a>
                                </li>
                                <li>
                                    <!-- Sort products alpabetically Z-A -->
                                    <a
                                        href="?sort=name&direction=desc{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">
                                        Alphabetically, Z-A
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            {% for product in products %}
            <div class="col s6 m6 l4 card no-shadow">
                <div class="card-image products">
                    <a href="{% url 'product_detail' product.id %}">
                        <!-- Link to individual product detail page -->
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% get_media_prefix %}no-image.png{% endif %}"
                            alt="{{ product.name }}" class="zoom-image">
                    </a>
                </div>
                <div class="card-content">
                    <!-- Display product name and color -->
                    <span class="card-title">{{ product.name }}</span>
                    <span class="color-title">{{ product.color }}</span>
                    <div class="card-action">
                        <!-- Display product price -->
                        <span class="price">£{{ product.price }}</span>
                        {% if request.user.is_superuser %}
                        <span class="product-edit">
                            <a href="{% url 'edit_product' product.id %}" class="teal-text text-darken-1">Edit</a> |
                            <a class="red-text text-accent-4 btn transparent z-depth-0 modal-trigger"
                                href="#deleteModal{{ product.id }}">Delete</a>
                        </span>
                        <!-- Modal Structure Delete Button -->
                        <div id="deleteModal{{ product.id }}" class="modal">
                            <div class="modal-content">
                                <h4>Delete Product</h4>
                                <p>Are you sure you want to delete {{ product.name }} (Product ID: {{ product.id }})?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect btn-flat">Cancel</a>
                                <a href="{% url 'delete_product' product.id %}"
                                    class="waves-effect waves-red btn-flat">Delete</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% block postloadjs %}
<script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
{% endblock %}