{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'products/css/products.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
{% endblock %}

{% block extra_js %}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <ul class="right">
            <li class="specific-dropdown-trigger black-text" data-target="dropdown-filter">SORT</li>
            <ul id="dropdown-filter" class="dropdown-content">
                <li>
                    <a href="{% url 'products' %}?sort=price&direction=desc{% if selected_category %}&category={{ selected_category }}{% endif %}">
                        Price, High to Low

                    </a>
                </li>
                <li>
                    <a href="{% url 'products' %}?sort=price&direction=asc{% if selected_category %}&category={{ selected_category }}{% endif %}">
                        Price, Low to High
                    </a>
                </li>
                <li>
                    <a href="{% url 'products' %}?sort=name&direction=asc{% if selected_category %}&category={{ selected_category }}{% endif %}">
                        Alphabetically, A-Z
                    </a>
                </li>
                <li>
                    <a href="{% url 'products' %}?sort=name&direction=desc{% if selected_category %}&category={{ selected_category }}{% endif %}">
                        Alphabetically, Z-A
                    </a>
                </li>
            </ul>
    </div>    
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col s12 m6 l4">
                <div class="card no-shadow">
                    <div class="card-image">
                        <div class="img-container">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'placeholder.png' %}{% endif %}"
                                alt="{{ product.name }}" class="zoom-image">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ product.name }}</span>
                        <span class="color-title">{{ product.color }}</span>
                    </div>
                    <div class="card-action">
                        <span class="price">£{{ product.price }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}