<div id="custom-toast" class="rounded-0 border-top-0">
    <div class="toast-body bg-white text-dark">
        <strong>Success!</strong><br>
        {{ message }}
    </div>
    {% if bag_items and not on_profile_page %}
    <p class="logo-font bg-white text-black py-1 right-align">Your Bag ({{ product_count }})</p>
    <div class="bag-notification-wrapper">
        {% with last_item=bag_items|last %}
        <div class="row">
            <div class="col s12 m6 toast">
                <img class="responsive-img" src="{{ last_item.product.image.url }}">
            </div>
            <div class="col s12 m6 toast-description">
                <p class="my-0"><strong>{{ last_item.product.name }}</strong></p>
                <p class="my-0 small">Size:
                    {% if last_item.product.sizes %}
                    {{ last_item.size }}
                    {% else %}
                    N/A
                    {% endif %}
                </p>
                <p class="my-0 small grey-text text-darken-1">Qty: {{ last_item.quantity }}</p>
            </div>
        </div>
        {% endwith %}
    </div>
    <div class="row">
        <div class="col s12 right-align">
            <strong>
                <p class="text-black right-align">
                    Total: <span class="right-align">£{{ total|floatformat:2 }}</span>
                </p>
            </strong>
            <form action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="waves-effect waves-light btn black rounded-0 right-align">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <i class="material-icons right">lock</i>
                </button>
            </form>
        </div>
    </div>
    {% endif %}
</div>